

.uniTable {
    overflow:hidden;
    overflow-y: scroll;
    height: 500px;
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
}

.apply_box {
    padding: 10px;
    width: 60%;
}

